In [1]:
import os.path
from zipfile import ZipFile

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
zip_name = "air+quality.zip"
zip_link = "https://archive.ics.uci.edu/dataset/360/air+quality"
csv_name = "AirQualityUCI.csv"

Download del dataset

In [4]:
if not os.path.exists(zip_name):
    print("Error: Dataset not found, download id from " + zip_link)
else:
    with ZipFile(zip_name) as f:
        f.extractall()

In [6]:
with open(csv_name) as dataFile:
    data_raw = pd.read_csv(dataFile, sep=",")

Controllo del dataset

In [7]:
data_raw.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,10/3/2004,18.00.00,2.6,1360,150.0,11.9,1046,166,1056,113,1692,1268.0,13.6,48.9,0.7578
1,10/3/2004,19.00.00,2.0,1292,112.0,9.4,955,103,1174,92,1559,972.0,13.3,47.7,0.7255
2,10/3/2004,20.00.00,2.2,1402,88.0,9.0,939,131,1140,114,1555,1074.0,11.9,54.0,0.7502
3,10/3/2004,21.00.00,2.2,1376,80.0,9.2,948,172,1092,122,1584,1203.0,11.0,60.0,0.7867
4,10/3/2004,22.00.00,1.6,1272,51.0,6.5,836,131,1205,116,1490,1110.0,11.2,59.6,0.7888

In [8]:
data_raw.tail()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
9352,4/4/2005,10.00.00,3.1,1314,-200.0,13.5,1101,472,539,190,1374,1729.0,21.9,29.3,0.7568
9353,4/4/2005,11.00.00,2.4,1163,-200.0,11.4,1027,353,604,179,1264,1269.0,24.3,23.7,0.7119
9354,4/4/2005,12.00.00,2.4,1142,-200.0,12.4,1063,293,603,175,1241,1092.0,26.9,18.3,0.6406
9355,4/4/2005,13.00.00,2.1,1003,-200.0,9.5,961,235,702,156,1041,770.0,28.3,13.5,0.5139
9356,4/4/2005,14.00.00,2.2,1071,-200.0,11.9,1047,265,654,168,1129,816.0,28.5,13.1,0.5028

In [9]:
data_raw.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   object
 1   Time           9357 non-null   object
 2   CO(GT)         9357 non-null   float64
 3   PT08.S1(CO)    9357 non-null   int64
 4   NMHC(GT)       9357 non-null   float64
 5   C6H6(GT)       9357 non-null   float64
 6   PT08.S2(NMHC)  9357 non-null   int64
 7   NOx(GT)        9357 non-null   int64
 8   PT08.S3(NOx)   9357 non-null   int64
 9   NO2(GT)        9357 non-null   int64
 10  PT08.S4(NO2)   9357 non-null   int64
 11  PT08.S5(O3)    9357 non-null   float64
 12  T              9357 non-null   float64
 13  RH             9357 non-null   float64
 14  AH             9356 non-null   float64
dtypes: float64(7), int64(6), object(2)
memory usage: 2.1 MB

Significato delle feature:

0 Date	(DD/MM/YYYY)\
1 Time	(HH.MM.SS)\
2 True hourly averaged concentration CO in mg/m^3  (reference analyzer)\
3 PT08.S1 (tin oxide)  hourly averaged sensor response (nominally  CO targeted)	\
4 True hourly averaged overall Non Metanic HydroCarbons concentration in microg/m^3 (reference analyzer)\
5 True hourly averaged Benzene concentration  in microg/m^3 (reference analyzer)\
6 PT08.S2 (titania) hourly averaged sensor response (nominally NMHC targeted)\
7 True hourly averaged NOx concentration  in ppb (reference analyzer)\
8 PT08.S3 (tungsten oxide) hourly averaged sensor response (nominally NOx targeted)\
9 True hourly averaged NO2 concentration in microg/m^3 (reference analyzer)\
10 PT08.S4 (tungsten oxide) hourly averaged sensor response (nominally NO2 targeted)\
11 PT08.S5 (indium oxide) hourly averaged sensor response (nominally O3 targeted)\
12 Temperature in Â°C \	
13 Relative Humidity (%) \ 	
14 AH Absolute Humidity

In [10]:
data_raw = data_raw.replace(-200, np.nan)

In [11]:
data_raw.tail(10)

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
9347,4/4/2005,05.00.00,0.5,888.0,NaN,1.3,528.0,77.0,1077.0,53.0,987.0,578.0,10.4,59.9,0.7550
9348,4/4/2005,06.00.00,1.1,1031.0,NaN,4.4,730.0,182.0,760.0,93.0,1129.0,905.0,9.5,63.1,0.7531
9349,4/4/2005,07.00.00,4.0,1384.0,NaN,17.4,1221.0,594.0,470.0,155.0,1600.0,1457.0,9.7,61.9,0.7446
9350,4/4/2005,08.00.00,5.0,1446.0,NaN,22.4,1362.0,586.0,415.0,174.0,1777.0,1705.0,13.5,48.9,0.7553
9351,4/4/2005,09.00.00,3.9,1297.0,NaN,13.6,1102.0,523.0,507.0,187.0,1375.0,1583.0,18.2,36.3,0.7487
9352,4/4/2005,10.00.00,3.1,1314.0,NaN,13.5,1101.0,472.0,539.0,190.0,1374.0,1729.0,21.9,29.3,0.7568
9353,4/4/2005,11.00.00,2.4,1163.0,NaN,11.4,1027.0,353.0,604.0,179.0,1264.0,1269.0,24.3,23.7,0.7119
9354,4/4/2005,12.00.00,2.4,1142.0,NaN,12.4,1063.0,293.0,603.0,175.0,1241.0,1092.0,26.9,18.3,0.6406
9355,4/4/2005,13.00.00,2.1,1003.0,NaN,9.5,961.0,235.0,702.0,156.0,1041.0,770.0,28.3,13.5,0.5139
9356,4/4/2005,14.00.00,2.2,1071.0,NaN,11.9,1047.0,265.0,654.0,168.0,1129.0,816.0,28.5,13.1,0.5028

In [12]:
data_raw.isna().sum()

Date                0
Time                0
CO(GT)           1682
PT08.S1(CO)       367
NMHC(GT)         8442
C6H6(GT)          366
PT08.S2(NMHC)     367
NOx(GT)          1638
PT08.S3(NOx)      367
NO2(GT)          1641
PT08.S4(NO2)      366
PT08.S5(O3)       366
T                 366
RH                366
AH                367
dtype: int64